@charset "UTF-8";
::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        width: 650px;
        height: 400px;
    }

    #imagem{
        display: block;
        width: 270px;
       height: 400px;
        float: left;
       border-top-right-radius: 0px;
       border-bottom-left-radius: 15px;
     
    }
    #formulario{
    background-color: white;
     display: block;
    width: 350px;
    float: right;
   border-radius: 15px;
    /*transform: translate(100%, -110%);*/
    }
}

@media screen and (min-width: 992px) {
    main{
        width: 750px;
        height: 400px;
    }

    #imagem{
        display: block;
        width: 300px;
       height: 400px;
        float: right;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
       border-top-left-radius: 0px;
       border-bottom-right-radius: 15px;
     
    }
    #formulario{
    background-color: white;
     display: block;
    width: 430px;
    float: left;
   border-radius: 15px;
    /*transform: translate(100%, -110%);*/
    }
}

