@charset "UTF-8";

/*
Paleta de cores
Azul escuro: 030027
Azul: 151e3f
Azul violeta: 9893DA
Bege: f1e9db
Roxo: 827191
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --cor01: #030027;
    --cor02: #151e3f;
    --cor03: #9893DA;
    --cor04: #f1e9db;
    --cor05: #827191;   
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", serif;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    
}

html, body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #01000b;
}
main{
    width: 300px;
    height: 520px;
   background-color: rgb(255, 255, 255);
   margin: auto;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   border-radius: 15px;
   
}
#imagem{
    background-image:url('../imagens/pexels-didsss-2911521.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  width: 300px;
  height: 170px;
 /* overflow: hidden;*/
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 transition: width 0.3s, height 0.3s;
 transition-timing-function: ease;
}
main h1{
    padding: 10px;
    text-align: center;
    font-size: 2.2em;
}
main p{
    text-align: justify;
    padding: 10px;
    line-height: 25px;
    font-size: 1.2em;
}

form label{
  margin-left: 10px;

}
form input{
    padding: 5px;
    border: 3px solid #01000b;
    border-radius: 10px;   

}

form input:hover{
    background-color: #978fe948;
}
form > input[type=submit]{
    display: block;
    width: 90%;
    margin: auto;
}
#entrar{
    background-color: #01000b;
    color: white;
    margin-top: 20px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
}
#senha{
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 2px;
    height:33px;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    font-size: 1.1em;
    border: 3px solid #01000b;
    text-decoration: none;
}
